[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/arcana"]
	path = themes/arcana
	url = git@github.com:half-duplex/hugo-arcana.git
