<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Config.Services.GoogleAnalytics.ID }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", {{ .Site.Config.Services.GoogleAnalytics.ID }});
</script>

<!-- Umami Cloud -->

<script
  defer
  src="https://cloud.umami.is/script.js"
  data-website-id="6d411740-d616-4e37-875f-35102dd154c6"
></script>

<!-- Meta tags específicos para Bing -->
<meta
  name="keywords"
  content="{{ .Params.keywords | default .Site.Params.keywords }}"
/>
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="7 days" />
<meta name="author" content="{{ .Site.Params.author }}" />
<meta
  name="description"
  content="{{ .Description | default .Site.Params.description }}"
/>

<!-- Open Graph -->
<meta property="og:title" content="{{ .Title }}" />
<meta
  property="og:description"
  content="{{ .Description | default .Site.Params.description }}"
/>
<meta
  property="og:type"
  content="{{ if .IsPage }}article{{ else }}website{{ end }}"
/>
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.image }}<meta
  property="og:image"
  content="{{ . | absURL }}"
/>{{ end }}
