.logo-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  min-height: 10vh; /* Give it some height for vertical centering */
}

.logo-video {
  max-height: 20vh;
  width: auto;
  object-fit: contain;
  background-color: #1d1d1b !important;

  /* Crop the edges */
  clip-path: inset(2px 2px 2px 2px); /* Crop 2px from each side */
  /* or */
  clip-path: inset(5% 5% 5% 5%); /* Crop 5% from each side */
}

/* Responsive breakpoints */

@media screen and (min-width: 1440px) {
  .logo-video {
    max-height: 7em;
  }
}

@media (max-width: 1024px) {
  .logo-video {
    max-height: 4em;
  }
}

@media (max-width: 840px) {
  .logo-video {
    max-height: 3em;
  }
}

@media (max-width: 380px) {
  .logo-video {
    max-height: 2vh;
  }
}

/* Logo image */
#logo {
  text-align: center;
}

#logo img {
  max-height: 78px; // adjust as needed
  width: auto;
  display: inline-block;
  margin: 0 auto;
}
