{{ define "main" }}
    <header>
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p>
        {{ if .Site.Params.show_post_dates | default true }}
            {{- with .Date }}<time class="post-date">{{ . | time.Format ":date_medium" }}</time>{{ end }}
        {{ end }}
        {{- with .GetTerms "tags" }}
        <div class="post-tags">
            {{- range . }}
                <a href="{{ .RelPermalink }}" class="post-tag">{{ .LinkTitle }}</a>
            {{- end }}
        </div>
        {{- end }}
    </header>

    {{- if .Params.image }}
        <span class="image featured post-featured-image"><img src="{{ .Params.image | relURL }}" alt="{{ .Params.image_alt }}" /></span>
    {{ end }}

    {{- .Content }}
{{ end }}
